* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: white;
  font-family: "@Microsoft YaHei Light", serif;
}

section {
  height: 100vh;
}
a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
p {
  margin: 24px 0;
}
button {
  font-family: inherit;
}

::-webkit-scrollbar {
  appearance: none;
  background: hsl(235, 11%, 20%);
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: hsl(235, 11%, 70%);
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  /* background-color: hsl(267, 13%, 15%); */
  background-color: rgb(14, 14, 17);
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
  opacity: 0.9;
  transition: top 0.3s;
}

.navbar a {
  color: #e7e7e7;
}

.navbar ul {
  display: flex;
  align-items: center;
}

.navbar .brand {
  display: block;
  font-size: 24px;
}

.navbar ul li a {
  display: block;
  padding: 24px;
  background-color: rgb(14, 14, 17);
  transition: background 0.2s;
}

.navbar ul li a:hover,
.navbar ul li a:focus {
  background-color: hsl(240, 10%, 20%);
}

.navbar .social a {
  /* display: block; */
  font-size: 20px;
  padding: 0 18px;
  transition: opacity 0.2s;
}
.navbar .social a:hover {
  opacity: 0.7;
}

.navbar #toggle {
  display: none;
  width: 70px;
  height: 70px;
  font-size: 18px;
  background-color: hsl(239, 66%, 58%);
  background-color: #004573;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  transition: background 0.2s;
}
.navbar #toggle:hover {
  background-color: hsl(240, 10%, 3%);
}

.text {
  font-size: 24px;
  text-shadow: 2px 2px 8px grey;
  text-align: left;
  max-width: 600px;
  padding: 4px 16px;
}

.text-center {
  position: relative;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-left {
  position: relative;
  top: 54%;
  left: 10%;
  transform: translate(0%, -50%);
}
.text-title {
  font-size: 40px;
}

.btn {
  outline: none;
  background: none;
  border: 2px solid #e7e7e7;
  color: #e7e7e7;
  padding: 8px 16px;
  font-size: inherit;
  cursor: pointer;
  transition: background 0.2s;
}
.btn:hover {
  background: rgb(255, 255, 255, 0.2);
}

.section-home {
  background-image: url(img/section1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 40% 50%;
}

.section-mission {
  background-image: url(img/section2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.section-about {
  overflow: hidden;
  position: relative;
}
.section-about .video-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .navbar {
    display: block;
  }
  .navbar .brand {
    text-align: center;
    padding: 14px;
  }

  .navbar ul {
    display: none;
  }
  .navbar.navbar-phone ul {
    display: block;
  }

  .navbar .social {
    display: none;
    text-align: center;
    padding: 16px;
  }

  .navbar #toggle {
    display: flex;
  }
  .text-title {
    font-size: 24px;
  }
}

/* 
  instagram: web.script
  copyright © 2021 milad gharibi
 */
